<div class="flex-row">
    <div class="title-text">~ The Crystal Hunt ~</div>
</div>
<div class="flex-row">
    <div class="container">
        <img class="menu-image" src="../../../assets/menuScene/mainMenu.png" />

        <div class="button-box">
            <div class="flex-row">
                <div class="flex-col">
                    <a class="menu-button" (click)="onStartClicked()">Start</a>
                    <a class="menu-button" (click)="onInstructionClicked()">Instruction</a>
                    <a class="menu-button" (click)="onAboutClicked()">About</a>
                    <a class="menu-button" (click)="onCreditClicked()">Credit</a>
                </div>
            </div>
        </div>

    </div>
</div>
