<div class="flex-box">
    <div class="title-text">~ The Crystal Hunt ~</div>
</div>
<div class="flex-box">
    <div class="container">
        <app-game #GameComponent (gameOver)="onGameOver()" (firstBossClear)="onFirstBossClear()"></app-game>
        <div class="dialog-mask" [ngClass]="{'nodisplay': !gameover && !clearfirstboss}">
        </div>
        <div class="gameover-image-box" [ngClass]="{'nodisplay': !gameover}">
            <img class="gameover-image" src="../../../assets/gameover.png" />
        </div>
        <div class="gameover-image-box" [ngClass]="{'nodisplay': !clearfirstboss}">
            <img class="gameover-image" src="../../../assets/bossClear.png" />
        </div>
        <div class="bossClearContinue-button-box" [ngClass]="{'nodisplay': !clearfirstboss}">
            <a class="menu-button" (click)="onContinueClicked()">Infinite Mode</a>
        </div>
        <div class="bossClearReturn-button-box" [ngClass]="{'nodisplay': !clearfirstboss}">
            <a class="menu-button" (click)="onExitClicked()">Menu</a>
        </div>
    </div> 
</div>
